<div class="page-container">
  <app-carousel class="carousel-section"></app-carousel>
  <br />
  <mat-card class="content-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="card-title">
        <img class="logo" src="assets/logo.png" alt="Make Ready Go logo" />
        <span>Make Ready Go</span>
      </mat-card-title>
      <mat-card-subtitle class="card-subtitle"
        >Got a move? You've found the right place</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      <p class="description">
        At Make Ready Go LLC, we prepare apartments and homes to be fully ready
        for their next resident. We work with apartment communities, property
        managers, and real estate investors who expect speed, quality, and
        consistent results. Our full-service apartment turns are designed to
        minimize vacancy time and ensure every unit is safe, functional, and
        truly move-in ready. From interior repairs, painting, plumbing, and
        electrical work to appliance checks, trash-outs, deep cleaning, and
        turnover coordination, we handle every detail with efficiency, clear
        communication, and professional standards. Reliable. Efficient. Move-In
        Ready.
      </p>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary" routerLink="/contact">
        Contact us for a free quote
      </button>
    </mat-card-actions>
  </mat-card>
</div>
