<div class="page-container">
  <app-carousel class="carousel-section"></app-carousel>
  <br>
  <mat-card class="content-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="card-title">
        <img class="logo" src="assets/logo.png" alt="Make Ready Go logo">
        <span>Make Ready Go</span>
      </mat-card-title>
      <mat-card-subtitle class="card-subtitle">Got a move? You've found the right place</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p class="description">
        Moving is stressful enough without worrying about cleaning. Whether
        you’re a homeowner, renter, landlord, or property manager, a spotless
        space is essential for a smooth transition. That’s where Alpha Elite
        Service comes in! We offer top-rated Make-Ready Cleaning and
        Move-In/Move-Out Cleaning in San Antonio, Boerne, Canyon Lake, Schertz,
        Cibolo, New Braunfels, and Seguin, ensuring homes are fresh, sanitized,
        and ready for their next occupants.
      </p>
    </mat-card-content>
    
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" routerLink="/contact">Contact us for a free quote</button>
    </mat-card-actions>
  </mat-card>
</div>
